<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.gestor360.app">
    <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="34"/>
    <application
        android:label="Gestor360"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" android:exported="false"/>
        <activity android:name=".VentasActivity" android:exported="false"/>
    </application>
</manifest>
